<div class="text-center mt-3">
  <h1>Appointments</h1>
  <a *appHasRole="['Patient']" class="btn btn-outline-info" [routerLink]="['/appointment/create']">Create new appointment</a>
</div>
<div class="container">
  <div class="wrapper">
    <div class="mt-3 overflow-auto">
      <div class="appointment-overflow-setup">
        <div *ngIf="currentAppointment" class="mt-3 ml-3">
          <div *ngFor="let appointment of currentAppointment">
            <app-appointment-card [appointment]="appointment"></app-appointment-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
