<div class="container mt-5">
  <h2>Admin panel</h2>
  <nav ngbNav #nav="ngbNav" class="nav-tabs">
    <ng-container ngbNavItem>
      <a ngbNavLink>
        User management
      </a>
      <ng-template ngbNavContent>
        <div class="container">
          <app-user-management></app-user-management>
        </div>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
      <a ngbNavLink>
        Appointment management
      </a>
      <ng-template ngbNavContent>
        <app-appointment-management></app-appointment-management>
      </ng-template>
    </ng-container>
  </nav>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
