<div>
  <div class="appointment-container">
    <p *appHasRole="['Patient']">Physician: <span>{{appointment.physicianFullName}}</span></p>
    <p *appHasRole="['Physician']">Physician: <span>{{appointment.patientFullName}}</span></p>
    <p>Date of appointment: <span>{{appointment.startOfAppointment | date: 'short'}}</span></p>
    <p>Description: <span>{{appointment.description}}</span></p>
    <button type="submit" class="btn btn-danger" (click)="deleteAppointment(appointment.id)">Delete</button>
  </div>
</div>
