<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <h1>Your Profile</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <div>
            <strong>First name</strong>
            <p>{{user?.firstName}}</p>
          </div>
          <div>
            <strong>Last name</strong>
            <p>{{user?.lastName}}</p>
          </div>
          <div>
            <strong>E-mail</strong>
            <p>{{user?.email}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <nav ngbNav #nav="ngbNav" class="nav-tabs">
          <ng-container ngbNavItem>
            <a ngbNavLink>Edit profile</a>
            <ng-template ngbNavContent>
              <div class="m-3">
                <form [formGroup]="editForm" (ngSubmit)="updateUser()">
                  <h4>Profile basic info</h4>
                  <div class="form-group">
                    <div>{{user.firstName}}</div>
                    <input type="text"
                           class="form-control"
                           name="first-name"
                           placeholder="First Name"
                           formControlName="firstName"
                           [ngClass]="{'is-invalid': editForm.get('firstName').errors && editForm.get('firstName').touched}">
                    <div class="invalid-feedback">Please enter your first name password</div>
                  </div>
                  <div class="form-group">
                    <div>{{user.lastName}}</div>
                    <input type="text"
                           class="form-control"
                           name="Last-name"
                           placeholder="Last Name"
                           formControlName="lastName"
                           [ngClass]="{'is-invalid': editForm.get('lastName').errors && editForm.get('lastName').touched}">
                    <div class="invalid-feedback">Please enter your last name password</div>
                  </div>

                  <div class="form-group text-left mt-2">
                    <button class="btn btn-success" type="submit" [disabled]="!editForm.valid">Submit</button>
                  </div>

                </form>
                <h4>Change password</h4>
                <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
                  <div class="form-group">
                    <input type="password"
                           class="form-control"
                           name="old-password"
                           placeholder="Old Password"
                           formControlName="oldPassword"
                           [ngClass]="{'is-invalid': passwordForm.get('oldPassword').errors && passwordForm.get('oldPassword').touched}">
                    <div class="invalid-feedback">Please enter your old password</div>
                  </div>
                  <div class="form-group">
                    <input type="password"
                           class="form-control"
                           name="new-password"
                           placeholder="New Password"
                           formControlName="newPassword"
                           [ngClass]="{'is-invalid': passwordForm.get('newPassword').errors && passwordForm.get('newPassword').touched}">
                    <div class="invalid-feedback">Please enter your new password</div>
                  </div>
                  <div class="form-group text-left mt-2">
                    <button class="btn btn-success" type="submit" [disabled]="!passwordForm.valid">Submit</button>
                  </div>
                </form>
              </div>
            </ng-template>
          </ng-container>
          <ng-container ngbNavItem>
            <a ngbNavLink>Account settings</a>
            <ng-template ngbNavContent>
              <div class="m-3">
                <h4>Deleting account</h4>
                <button class="btn btn-secondary" (click)="openModalDelete(content)">Submit</button>
              </div>
            </ng-template>
          </ng-container>
        </nav>
<!--        <ng-template #content let-modal>-->
<!--          <div class="modal-header">-->
<!--            <h4 class="modal-title">Confirming</h4>-->
<!--            <button class="close" type="button" aria-label="Close" (click)="modal.dismiss('Cross click')">-->
<!--              <span aria-hidden="true">&times;</span>-->
<!--            </button>-->
<!--          </div>-->
<!--          <div class="modal-body">-->
<!--            <p>Are you sure that you want to delete account?</p>-->
<!--            <p>After confirming you won't be able to register again under same e-mail you have at the moment registered-->
<!--              under this account</p>-->
<!--            <div class="modal-footer">-->
<!--              <button type="submit" class="btn btn-danger" ngbAutofocus (click)="deleteAccount()">Yes</button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </ng-template>-->
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
  </div>
</div>
