<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <h1>Your Profile</h1>
    </div>
<!--    <div class="col-sm-8">-->
<!--      <div *ngIf="editForm.dirty" class="alert alert-info">-->
<!--        <strong>Information:</strong> You have made changes. Any unsaved changes-->
<!--        will be lost!-->
<!--      </div>-->
<!--    </div>-->
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <div>
            <strong>First name</strong>
<!--            <p>{{user.first_name}}</p>-->
          </div>
          <div>
            <strong>Last name</strong>
<!--            <p>{{user.last_name}}</p>-->
          </div>
          <div>
            <strong>E-mail</strong>
<!--            <p>{{user.email}}</p>-->
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <nav ngbNav #nav="ngbNav" class="nav-tabs">
          <ng-container ngbNavItem>
            <a ngbNavLink>Edit profile</a>
            <ng-template ngbNavContent>
              <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
                <h4 class="mt-3 ml-3">Description</h4>
                <br>
                <h4 class="mt-3 ml-3">Personal information</h4>
                <div class="form-inline">
                  <label for="first-name" class="m-3">First name</label>
                  <input type="text" class="form-control" name="first-name" id="first-name" [(ngModel)]="user.first_name">
                  <label for="last-name" class="m-3">Last name</label>
                  <input type="text" class="form-control" name="first-name" id="last-name"[(ngModel)]="user.last_name">
                </div>
              </form>
            </ng-template>
          </ng-container>
          <ng-container ngbNavItem>
            <a ngbNavLink>Two</a>
            <ng-template ngbNavContent>
              <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko
                farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts
                ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar
                helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson
                8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester
                stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
            </ng-template>
          </ng-container>
          <ng-container ngbNavItem>
            <a ngbNavLink>Three</a>
            <ng-template ngbNavContent>
              <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi.
                Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio.
                Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna,
                egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec
                tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et
                magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget
                neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
            </ng-template>
          </ng-container>
        </nav>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>

      </div>
    </div>
  </div>
</div>
