<div class="container mt-5">
  <div style="text-align: center">
    <h1>Medical clinic</h1>
    <p class="lead">Welcome on the front page of the app</p>
    <div class="row">
      <div class="col-sm">
        <p>Working hours of clinic: </p>
        <div class="text-right">
          <p>Monday: 08-14</p>
          <p>Tuesday: 08-14</p>
          <p>Wednesday: 08-14</p>
          <p>Thursday: 08-14</p>
          <p>Friday: 08-14</p>
        </div>
      </div>
      <div class="col-sm">

      </div>
      <div class="col-sm">
        <p>New patients, please book appointment till 10 AM and write in description as new patient</p>
      </div>
    </div>
  </div>
</div>
